# Python
__pycache__/
*.pyc
*.pyo

# Virtual environment
.venv/

# PyCharm
.idea/

# Environment variables (secrets!)
.env

# Database files
*.db

# OS files
Thumbs.db
Desktop.ini
# Packaging
*.egg-info/
